<%= render "shared/header" %>
  
  <div class="grid grid-cols-2 gap-4 mb-4">
    <div>
      <%= render PandaCms::RichTextComponent.new(key: :introduction_text) %>
    </div>
  </div>
  
  <div class="mx-auto text-gray-500 bg-zinc-300 p-1">
    <%= render PandaCms::RichTextComponent.new(key: :main_content) %>
  </div>

  <%= yield %>
  
<%= render "shared/footer" %>
