<!DOCTYPE html>
<html>
  <head>
    <title><%= PandaCms.title %> &middot; <%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# TODO: Editable... %>
    <%= yield :head_includes %>
  </head>

  <body class="h-full bg-zinc-50 dark:bg-black">
    <div class="p-6 lg:p-12">

      <header class="flex justify-between items-center">
        <div class="mb-4">
          <img src="https://github.com/pandacms/.github/raw/main/images/panda-transparent-small.png?raw=true" alt="Panda" class="-mt-2 h-auto w-12 inline">
          <a href="/" class="text-2xl font-bold text-brand-text"><%= PandaCms.title %></a>
        </div>
        
        <nav class="mb-4">
        <% PandaCms::Menu.find_by(name: "Main Menu").menu_items.each do |menu_item| %>
          <a href="<%= menu_item.page.path %>" class="inline-block mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-brand-text hover:bg-brand-light"><%= menu_item.text %></a>
        <% end %>
        </nav>
      </header>

      <h1 class="text-blue-600 text-2xl mb-4"><%= @page.title %></h1>
