<!DOCTYPE html>
<html>
  <head>
    <title><%= PandaCms.title %> &middot; <%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# TODO: Editable... %>
    <%= yield :head_includes %>
  </head>

  <body class="h-full bg-zinc-50 dark:bg-black">
    <div class="p-24">
